# IF salyga

In [1]:
#sintake

x = 5
if x > 2:
    print('x yra daugiau uz 2')

x yra daugiau uz 2

In [2]:
x = 2
if x > 2:
    print('x yra daugiau uz 2')
#atsakymo neduoda nes nera 'ELSE'

In [3]:
vardas = 'Antanas'
if vardas == 'Jonas':
    print('Sveikas, Jonai')
else:
    print('Sveikas, kas tu toks')
print('pabaiga') #print is naujos eilutes bus tik pabaigoje

Sveikas, kas tu toks
pabaiga

In [4]:
y = 15
if y > 10 and y < 20:
    print('y yra tarp 10 ir 20')
elif y > 10 and x >= 20:    #papildomas ifas
    print('y > 10 ir x >= 2')
else:
    print('neatitinka salygu')

y yra tarp 10 ir 20

# LYGYBES ZENKLAS

In [5]:
# = reiksmes priskirimas
# == vertes palyginimas

# if uzduotys, panasios bus ND

In [6]:
#1 atspausdinti pirmus 20 skaiciu, jeigu jis dalinasi is 3 be liekanos naudodami for loop ir if
for number in range(21):
    if number % 3 == 0:
        print(number)

0
3
6
9
12
15
18

In [7]:
#2
#Gauti suma pirmu 50 skaiciu imtinai, tik tada, jei nauja einama suma bus lygine
suma = 0
for number in range(1,51):
    if (number + suma) % 2 == 0:
        suma += number
        print(suma)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [8]:
# 3 uzduotis
#leiskite pasirinkti skaiciu atspaudinkite jo sandauga nuo 1 iki 10 tik tada jei pasirinktas
#skaicius pakeltas kvadratu yra nelygynis

#irasykite skaiciu ir issaugoti kintamajam
number = input('iveskite skaiciu:')
print(type(number))
number = int(number)  #butina pasikvesti i skaiciaus formata, kadangi traktuoja kaip teksta
if (number **2) % 2 != 0:
    for num in range(1,11):
        print(num*number)
else:
    print('skaicius pakeltas kvadratu yra lyginis')

<class 'str'>
skaicius pakeltas kvadratu yra lyginis

In [9]:
#4 uzduotis
#Gauti visas imanomas kombinacijas is siu sarasu tik tada, jei diena yra arba
#pirmadienis arba treciadienis, o valandos nuo 12 iki 17, irasykyte jas i lista

dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []
tinkamos_dienos = ['Pirmadienis', 'Treciadienis']
for diena in dienos:
    if diena in tinkamos_dienos:
        for valanda in valandos:
            if valanda in range(12,18):
                kombinacijos.append((diena, valanda))
print(kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

# None deklaracija

In [ ]:
#duomenu tipas kuris deklaruoja jog nieko NERA
#pvz duomenyse, NONE aiskiai parodo kur nieko nera, kaip exely emply cells
Niekas = None
print(type(Niekas))

for i in range(5):
    if name == None:
        print('something')

# List comprehension - apie sarasus arba for loopo supaprastinimas

In [ ]:
numbers = list(range(21))
for number in range(20):
    if number % 3 == 0:
        print(number)

#arba

numbers = list(range(21))
dividible_by_3 = []
for number in range(20):
    if number % 3 == 0:
        dividible_by_3.append(number)
print(dividible_by_3)

0
3
6
9
12
15
18
[0, 3, 6, 9, 12, 15, 18]

In [ ]:
#kitoks budas, galima daug trumpiau pasirasyti
numbers = list(range(21))
dividible_by_3 = [number for number in numbers if number %3 == 0]
print(dividible_by_3)

[0, 3, 6, 9, 12, 15, 18]

# Dictionary duomenu tipas

In [12]:
#turim raktazodi ir kiekvienas raktazodis turi kazkokia verte -skaicia, tekstas, sarasas t.t
#jie neturi sekos parametru - neturi indeksu
#patogu laikyti informacija juose, ir issitraukti
#banguoti skliautai

my_dict = {
    'name': 'Darius',  #raktazodis ir verte
    'surname': 'Grigaliunas',
    'age': 26,
    'hobbies': ['tennis','videogames']
}

#name, surname, age, hobbies yra KEYS

In [13]:
print(len(my_dict)) #kaip su sarasais, galim naudot LEN - parodu kiek turim poru dictionary
print(my_dict.pop('surname')) #istrina reiksme/ KEY

print(my_dict['name'])
print(my_dict['hobbies'])

#galima pakeisiti reiksme paciam dictionary
my_dict['age'] = 25
print(my_dict['age'])

#atspaudina dictionary
print(my_dict)

4
Grigaliunas
Darius
['tennis', 'videogames']
25
{'name': 'Darius', 'age': 25, 'hobbies': ['tennis', 'videogames']}

# galime naudoti FOR LOOP in Dictionaries

In [17]:
for key in my_dict.keys():
    print(key)

#atspausdina visus RAKTAZODIUS

for value in my_dict.values():
    print(value)

#atspausdina visas VALUES arba reiksmes

for k, v in my_dict.items():      # k yra KEY, v yra VALUE
    print(f'{k} values is {v}')

#atspausdina KEYs and VALUES

name
age
hobbies
Darius
25
['tennis', 'videogames']
name values is Darius
age values is 25
hobbies values is ['tennis', 'videogames']

# Raktazodis (KEY) ne visada bus tekstas

In [ ]:
# siame PVZ raktazodziai yra skaiciai

disct_1 = {
    1 : 'uno',
    2 : 'dos',
    5 : 'finco',
    0 : 'Falsee'
}

In [ ]:
print(disct_1[1])
print(disct_1[False]) # 0 yra False, bet koks skaicius True

uno
Falsee

# papildyti dictionary KEYS ir VALUES su NAUJA info - UPDATE funkcija

In [18]:
my_dict.update({'age': 26, 'city': 'Kaunas', 'car': 'Tesla'})
print(my_dict)

{'name': 'Darius', 'age': 26, 'hobbies': ['tennis', 'videogames'], 'city': 'Kaunas', 'car': 'Tesla'}

In [21]:
#1 uzduotis
#Atspausdinkite 'Ford', gaukite zodyno cal ilgi, pakeiskite metus i 2020
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [24]:
print(car['brand'])
print(len(car))
car['year'] = 2020
print(car['year'])

Ford
3
2020

In [26]:
#2 uzduotis
#prie esamo zodyno prideti naujas reiksmes
#'color' = 'red'
#'used' = True

car.update({'color': 'red', 'used': True})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red', 'used': 'True'}

In [28]:
#is esamo zodyno istrinti 'brand' rakta ir reiksme, o YEAR reiksme paversti i NONE

car.pop('brand')

car['year'] = None
print(car)

{'model': 'Mustang', 'year': None, 'color': 'red', 'used': 'True'}

# SET duomenu tipas - is esmes labiau panasus i list

In [ ]:
#SET duomenu tipas neturi sekos parametru []
#SET duomenys turi ivairiu manipuliaciniu funkciju, see below
#Print grazina tik unikalias reiksmes atsitiktine tvarka

In [30]:
my_set = {1,85,3,6,6,6,6,9}
print(my_set) # tik unikalios vertes yra isspausdinamas, atsitiktine tvarka
print(len(my_set)) # rodo tik unikalias vertes

my_set.add(12) #prideda reiksme
print(my_set)

my_set.remove(6) #istrinti reiksme is seto , #arba discard funkcija
print(my_set)

print(my_set)
my_set2 = {4,5,10,12}
print(my_set2)

print(my_set.difference(my_set2)) #kas nera bendro tarp setu, difference funkcija
print(my_set.intersection(my_set2)) #kas bendro
print(my_set.union(my_set2)) #apjungia unikalias reiksme

print(85 in my_set)

{1, 3, 85, 6, 9}
5
{1, 3, 85, 6, 9, 12}
{1, 3, 85, 9, 12}
{1, 3, 85, 9, 12}
{10, 5, 12, 4}
{1, 3, 85, 9}
{12}
{1, 3, 4, 5, 9, 10, 12, 85}
True

In [32]:
#1 uzduotis
# i seta ideti nauja reiksme, ('nauja reiksme', 5) - TOOPLE

fruits = {"apple", "banana", "cherry"}
fruits.add(('nauja reiksme', 5))
print(fruits)

{'cherry', 'banana', 'apple', ('nauja reiksme', 5)}

In [35]:
#2 uzduotis
# is seto viena reiksme pakeisti kita
fruits = {"apple", "banana", "cherry"}
fruits.remove ('apple')
fruits.add('watermellon')
print(fruits)


#kitas budas / kitoks priejimas prie tos pacios problemos
#susikurti trumpalaiki sarasa, ir jame naudoti indkesavimo funkcionaluma
fruits = {"apple", "banana", "cherry"}
tmp_list = list(fruits)
tmp_list[0] = 'watermellon'
fruits = set(tmp_list)

{'cherry', 'banana', 'watermellon'}

In [40]:
#3 uzduotis

my_list = [3,6,-2,-5,7,3]
for skaicius in my_list:
    print(max(skaicius * skaicius))

TypeError: 'int' object is not iterable