# 3 pamoka
# list - sarasai ,tuple, range, none, for loop & if

# list-sarasai (gali egzistuot bet kas, skaiciai-tekstas)
#saraso kintamieji - lauztiniai skliaustai per kableli
my_list = ['item1', 'item2']

In [1]:
#teorija
#sarasai turi sekos parametrus, pvz jeigu indeksas 0 tada ims pirma objekta is saraso
#galima pamatyti kiek nariu turi sarasas per LEN()
#patikrinti kas egzistuoja jame
#saraso kintamieji - lauztiniai skliaustai per kableli

my_list = ['item1', 'item2']

#pvz

cities = ['Vilnius', 'Kaunas', 'Hello World']
print(cities[0])
print(cities[-1])
print(cities[-1].replace('World','world'))
print(len(cities)) #kiek objektu sarase
print('Kaunas' in cities) #patikrinti ar objektas yra sarase

Vilnius
Hello World
Hello world
3
True

In [2]:
numbers = [1, 2, 3, 5, 6, 7, 8]
print(numbers[3:])
print(numbers[3:4])
print(numbers[-1])
print (len (numbers))

[5, 6, 7, 8]
[5]
8
7

# Funkcijos su sarasais
# Append funkcija - prideda kaip VIENA reiksme prie galo

In [3]:
#append funkcija - prijungia prie saraso galo
numbers.append(10)
print(numbers)

#galima prideti dar viena sarasa saraso viduje
numbers.append([2,5,7])
print(numbers) #pridetas kaip vienas objektas kuris yra sararas
print(numbers[-1])
print(numbers[-1][2]) #kad gauti paskutine reiksme is saraso sarase

[1, 2, 3, 5, 6, 7, 8, 10]
[1, 2, 3, 5, 6, 7, 8, 10, [2, 5, 7]]
[2, 5, 7]
7

# Extend funkcija - objektus prideda i sarasa kaip atskirus narius

In [4]:
numbers.extend([1,2,5])

In [5]:
#jei rasoma toj pacioj celej,prideda tapacia reiksme su kiekvienu Executionu
print(numbers)

[1, 2, 3, 5, 6, 7, 8, 10, [2, 5, 7], 1, 2, 5]

# Clear funkcija

In [6]:
numbers_2 = [1,2,3]
print(numbers_2)
#istrinti seka numeriu
numbers_2.clear()
print (numbers_2)

[1, 2, 3]
[]

# Remove ir POP

In [7]:
#remove istrina konkrecia verte ar vertes
#pop trina pagal indeksa ir grazina istrinta verte
#pop istrina pirma pasikartojancia reiksme

# Reverse

In [8]:
#apversti sarasa aukstyn kojom
numbers.reverse()
print(numbers)
#tapati galima padaryti ir su slicing
print(numbers[::-1])

[5, 2, 1, [2, 5, 7], 10, 8, 7, 6, 5, 3, 2, 1]
[1, 2, 3, 5, 6, 7, 8, 10, [2, 5, 7], 1, 2, 5]

# Count

In [9]:
#kiek kartojosi kazkokia reiksme COUNT funkcija
print(numbers.count(1))

2

# Insert - i konkrecia vieta, ne i gala kaip append ar extend

In [10]:
#prideti dar viena reiksme
numbers.insert(-3,11) #index, value
print(numbers)

[5, 2, 1, [2, 5, 7], 10, 8, 7, 6, 5, 11, 3, 2, 1]

# SORT

In [11]:
#SORT funkija
numbers_3 = [5,666,87,67,98]
print(numbers_3)
numbers_3.sort()
print(numbers_3)
numbers_3.sort(reverse=True)
print(numbers_3)

[5, 666, 87, 67, 98]
[5, 67, 87, 98, 666]
[666, 98, 87, 67, 5]

# pakeisti reiksme sarase (permanent)

In [12]:
print(cities)
cities[2] = 'Klaipeda'
print(cities)

#patikrint ar reiksme yra sarase
print('Panevezys' in cities)
print('Vilnius' in cities)

['Vilnius', 'Kaunas', 'Hello World']
['Vilnius', 'Kaunas', 'Klaipeda']
False
True

# Prie saraso pridedi kita sarasa

In [13]:
my_combined_list = [1,2,3] +  ['a', 'b', 'c']
print(my_combined_list)
print(my_combined_list * 10) #galima ir dauginti

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

# List uzduotys

In [14]:
#1 uzduotis
list = [1,2,4,7]
print(len(list))
list.append(12)
print(list)

#2 uzduotis
print(6 in list)
print(7 in list)

#3 uzduotis

List_1 = [5,76,56,14]
List_2 = [6,7,10,54,13]

combined = List_1 + List_2
print(combined)

combined.remove(14)
print(combined)

combined.sort(reverse=False)
print(combined)

print(list.count(12))

4
[1, 2, 4, 7, 12]
False
True
[5, 76, 56, 14, 6, 7, 10, 54, 13]
[5, 76, 56, 6, 7, 10, 54, 13]
[5, 6, 7, 10, 13, 54, 56, 76]
1

#Mutable and immutable variables

# TUPLE - sarasas, bet negalim keisti reiksmiu (ideti issimti nauju), skirtumas skliaustai - paprasti, o ne lauztiniai

In [15]:
#galime naudoti indeksus, slicing tuple duomenu tipe
my_tuple = (1,53,84,4,1)
print(my_tuple[1])
print(my_tuple[0:4])

print(type(())) #identifikuoti duomenu tipa
print(type([ ]))

53
(1, 53, 84, 4)
<class 'tuple'>
<class 'list'>

# Tuple tik dvi funkcijos - count ir index

In [16]:
#funkcijos
print(my_tuple.count(1))
print(my_tuple.index(84))
#len taip pat galioja
print(len(my_tuple))

combined_tuple = my_tuple + ("Vilnius", "Klaipeda")
print(combined_tuple)

print(len(combined_tuple)) # kiek nariu
print('Vilnius' in combined_tuple) #patestuot galima kas priklauso sarase

2
2
5
(1, 53, 84, 4, 1, 'Vilnius', 'Klaipeda')
7
True

In [17]:
#tuple tiesiog saugesne saraso versija kurios objektu reiksmiu nepakeisi

In [18]:
# 1 uzduotis

my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple[-1])
print(my_tuple[-1][1])
print(my_tuple[-1][1][1])
print(my_tuple[-1][-1][-1])

# 2 uzduotis

tuple1 = (11, [222, 33], 44, 55)
#sitam sarase pirmu indeksu pirmas narys yra lygus 21
tuple1[1][1] = 21
print(tuple1) # tai veikia tik del to nes turime normalu sarasa[] kuris yra viduje


## 33 pakeisti i 22

tuple1 [1][1] = 22
print(tuple1)

[6, [7, 8]]
[7, 8]
8
8
(11, [222, 21], 44, 55)
(11, [222, 22], 44, 55)

# RANGE - funkcija kuri sukuria skaiciu seka

In [3]:
print (range(10)) #tai nesukuria automatiskai saraso

print(type(range(10))) #duomenu tipas

#range funkcija,  range(start, end, step)

print(list( range(10, 326, 4)))
print(list( range(326, 10, -4))) #jei atbulai tuomet apkeisti vietom

print(list(range(10)))

range(0, 10)
<class 'range'>
[10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98, 102, 106, 110, 114, 118, 122, 126, 130, 134, 138, 142, 146, 150, 154, 158, 162, 166, 170, 174, 178, 182, 186, 190, 194, 198, 202, 206, 210, 214, 218, 222, 226, 230, 234, 238, 242, 246, 250, 254, 258, 262, 266, 270, 274, 278, 282, 286, 290, 294, 298, 302, 306, 310, 314, 318, 322]
[326, 322, 318, 314, 310, 306, 302, 298, 294, 290, 286, 282, 278, 274, 270, 266, 262, 258, 254, 250, 246, 242, 238, 234, 230, 226, 222, 218, 214, 210, 206, 202, 198, 194, 190, 186, 182, 178, 174, 170, 166, 162, 158, 154, 150, 146, 142, 138, 134, 130, 126, 122, 118, 114, 110, 106, 102, 98, 94, 90, 86, 82, 78, 74, 70, 66, 62, 58, 54, 50, 46, 42, 38, 34, 30, 26, 22, 18, 14]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# For loop deklaracija - ciklas kartojamas nurodyta kieki kartu

In [ ]:
#duotas sarasas
#kadangi trys nariai, tai tris kartus ir daromas zingsnis (priklauso kiek nariu sarase)
#Sintakse prasideda 'FOR' tada eina zodis repezentuojantis nari is saraso, tada 'IN' ir SARASAS
#ir dvitaskis

miestai = ['Vilnius', 'Kaunas', 'Klaipeda']

for miestas in miestai:
    print(miestas)

for miestas in miestai:
    print(f'{miestas} yra nuostabus')
    print('vieno ciklo pabaiga')
print('PABAIGA') #be keturiu tarpu lipdosi kaip paskutinis sakinys/ nepriklauso ciklui /
# atspausdina tik kai baigiasi ciklas

Vilnius
Kaunas
Klaipeda
Vilnius yra nuostabus
vieno ciklo pabaiga
Kaunas yra nuostabus
vieno ciklo pabaiga
Klaipeda yra nuostabus
vieno ciklo pabaiga
PABAIGA

In [ ]:
#for loopsas lopse, arba ciklas cikle
Valandos = [9,8,7]
for miestas in miestai:
    print(f'{miestas} yra labai grazus')
    for valanda in Valandos:
        print(valanda)
    print('vieno ciklo pabaiga')
print('THE END')

Vilnius yra labai grazus
9
8
7
vieno ciklo pabaiga
Kaunas yra labai grazus
9
8
7
vieno ciklo pabaiga
Klaipeda yra labai grazus
9
8
7
vieno ciklo pabaiga
THE END

In [ ]:
for number in range(5,11):
    print('Sveiki')
    print(f'skaicius yra {number}')

Sveiki
skaicius yra 5
Sveiki
skaicius yra 6
Sveiki
skaicius yra 7
Sveiki
skaicius yra 8
Sveiki
skaicius yra 9
Sveiki
skaicius yra 10

# Užduotys

In [ ]:
# 1a uzduotis
#atspaudinti pirmus 10 imtinai skaiciu naudojant FOR LOOP

for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [4]:
# 2 uzduotis
# gauti suma pirmu 50 skaiciu
#PIRMA reikia skaiciu sekos, ANTRA kad gauti suma reikia tuos skaicius prie kazko pridet
#todel susikuriam SUMA - kintamasis kuriam saugosim tarpini rezultata, pradzioj nulis nes neturi
#jokios reiksmes

suma = 0
for number in range (1,51):
    suma += number  # += reiksme It adds right operand to the left operand and assign the result to left operand
print(suma)

#kitas gerensnis budas

list_5 = list(range(1,51))
print(sum(list_5))

##susikurti seka
print(list(range(1,200)))

1275
1275
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [5]:
# 3 uzduotis
number = input('irasykite skaiciu')
#reikia simboli pasiversti i skaiciu
number = int(number)
for skaicius in range(1,11):
    print(number * skaicius)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# 4 uzduotis
#visos imanomos kombinacijos

dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

for diena in dienos:
    for valanda in valandos:
        print(diena, valanda)

##ARBA
### sudetingas
# susikuriam sarasa kuriame talpinti tas visas kombinacijas, veita atminty
kombinacijos = []
for diena in dienos:
    for valanda in valandos:
        kombinacijos.append( (diena,valanda) ) #paimam kaip tuple objekta, dvigubi skliaustai
print(kombinacijos)

Pirmadienis 10
Pirmadienis 11
Pirmadienis 12
Pirmadienis 13
Pirmadienis 14
Pirmadienis 15
Pirmadienis 16
Pirmadienis 17
Pirmadienis 18
Pirmadienis 19
Antradienis 10
Antradienis 11
Antradienis 12
Antradienis 13
Antradienis 14
Antradienis 15
Antradienis 16
Antradienis 17
Antradienis 18
Antradienis 19
Treciadienis 10
Treciadienis 11
Treciadienis 12
Treciadienis 13
Treciadienis 14
Treciadienis 15
Treciadienis 16
Treciadienis 17
Treciadienis 18
Treciadienis 19
Ketvirtadienis 10
Ketvirtadienis 11
Ketvirtadienis 12
Ketvirtadienis 13
Ketvirtadienis 14
Ketvirtadienis 15
Ketvirtadienis 16
Ketvirtadienis 17
Ketvirtadienis 18
Ketvirtadienis 19
Penktadienis 10
Penktadienis 11
Penktadienis 12
Penktadienis 13
Penktadienis 14
Penktadienis 15
Penktadienis 16
Penktadienis 17
Penktadienis 18
Penktadienis 19
Sestadienis 10
Sestadienis 11
Sestadienis 12
Sestadienis 13
Sestadienis 14
Sestadienis 15
Sestadienis 16
Sestadienis 17
Sestadienis 18
Sestadienis 19
Sekmadienis 10
Sekmadienis 11
Sekmadienis 12
Sekmadienis 13
Sekmadienis 14
Sekmadienis 15
Sekmadienis 16
Sekmadienis 17
Sekmadienis 18
Sekmadienis 19
[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]