In [141]:
#3 pamoka
#list - sarasai ,tuple, range, none, for loop & if

#list-sarasai

In [142]:
#teorija
#sarasai turi sekos parametrus, pvz jeigu indeksas 0 tada ims pirma reiksme is saraso
#galima pamatyti kiek nariu turi sarasas
#patikrinti kas egzistuoja jame

my_list = ['item1', 'item2']

#pvz

cities = ['Vilnius', 'Kaunas', 'Hello World']
print(cities[0])
print(cities[-1])
print(cities[-1].replace('World','world'))

Vilnius
Hello World
Hello world

In [143]:
numbers = [1, 2, 3, 5, 6, 7, 8]
print(numbers[3:])
print(numbers[3:4])
print(numbers[-1])

[5, 6, 7, 8]
[5]
8

#append funkcija

In [144]:
print(len(numbers))
#append funkcija - prijungia prie saraso galo
print(numbers.append('100'))

7
None

#extend funkcija

In [145]:
numbers.extend([1,2,5])
print(numbers)

[1, 2, 3, 5, 6, 7, 8, '100', 1, 2, 5]

In [146]:
numbers_2 = [1,2,3]
print(numbers_2)
#istrinti seka numeriu
numbers_2.clear()
print (numbers_2)

[1, 2, 3]
[]

In [147]:
#apversti sarasa aukstyn kojom
numbers.reverse()
print(numbers)

[5, 2, 1, '100', 8, 7, 6, 5, 3, 2, 1]

In [148]:
#kiek kartojosi kazkokia reiksme COUNT funkcija
print(numbers.count(1))

2

In [149]:
#prideti dar viena reiksme
numbers.insert(-3,11) #index, value
print(numbers)

[5, 2, 1, '100', 8, 7, 6, 5, 11, 3, 2, 1]

In [150]:
#SORT funkija
numbers_3 = [5,666,87,67,98]
print(numbers_3)
numbers_3.sort()
print(numbers_3)
numbers_3.sort(reverse=True)
print(numbers_3)

[5, 666, 87, 67, 98]
[5, 67, 87, 98, 666]
[666, 98, 87, 67, 5]

In [151]:
#pakeisti reiksme sarase

In [152]:
print(cities)
cities[2] = 'Klaipeda'
print(cities)

#patikrint ar reiksme yra sarase
print('Panevezys' in cities)

['Vilnius', 'Kaunas', 'Hello World']
['Vilnius', 'Kaunas', 'Klaipeda']
False

#Prie saraso pridedi kita sarasa

In [153]:
my_combined_list = [1,2,3] +  ['a', 'b', 'c']
print(my_combined_list)

[1, 2, 3, 'a', 'b', 'c']

#uzduotys

In [161]:
#1 uzduotis
list = [1,2,4,7]
print(len(list))
list.append(12)
print(list)

#2 uzduotis
12 in list  

#3 uzduotis

List_1 = [5,76,56,14]
List_2 = [6,7,10,54,13]

combined = List_1 + List_2
print(combined)

combined.remove(14)
print(combined)

combined.sort(reverse=False)
print(combined)

4
[1, 2, 4, 7, 12]
[5, 76, 56, 14, 6, 7, 10, 54, 13]
[5, 76, 56, 6, 7, 10, 54, 13]
[5, 6, 7, 10, 13, 54, 56, 76]

#Mutable and immutable variables

#TUPLE - sarasas, bet negalim keisti reiksmiu, skirtumas skliaustai - paprasti, o ne lauztiniai

In [197]:
my_tuple = (1,53,84,4,1)
print(my_tuple[1])
print(my_tuple[0:4])

#funkcijos
my_tuple.count(1)
my_tuple.index(84)

combined_tuple = my_tuple + ("Vilnius", "Klaipeda")
print(combined_tuple)

print(len(combined_tuple)) # kiek nariu

53
(1, 53, 84, 4)
(1, 53, 84, 4, 1, 'Vilnius', 'Klaipeda')
7

In [198]:
# 1 uzduotis

my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
#print(my_tuple[-1])
#print(my_tuple[-1][1])
#print(my_tuple[-1][1][1])
print(my_tuple[-1][-1][-1])

# 2 uzduotis

tuple1 = (11, [222, 33], 44, 55)

## 33 pakeisti i 22

tuple1 [1][1] = 22
print(tuple1)

8
(11, [222, 22], 44, 55)

#RANGE - funkcija kuri sukuria skaiciu seka

In [210]:
print (range(10))
print(type(range(10)))

range(0, 10)
<class 'range'>

#For loop is saraso istraukia reiksme ir prideda teksta

In [ ]:
miestai = ['Vilnius', 'Kaunas', 'Klaipeda']

#UÅ¾duotys

In [213]:
# 1 uzduotis
for number in range(1,11):
    print(f'your number is in'{number})

SyntaxError: invalid syntax (Temp/ipykernel_18824/211870462.py, line 3)