# IF salyga

In [1]:
#sintake

x = 5
if x > 2:
    print('x yra daugiau uz 2')

x yra daugiau uz 2

In [2]:
x = 2
if x > 2:
    print('x yra daugiau uz 2')
#atsakymo neduoda nes nera 'ELSE'

In [3]:
vardas = 'Antanas'
if vardas == 'Jonas':
    print('Sveikas, Jonai')
else:
    print('Sveikas, kas tu toks')
print('pabaiga') #print is naujos eilutes bus tik pabaigoje

Sveikas, kas tu toks
pabaiga

In [4]:
y = 15
if y > 10 and y < 20:
    print('y yra tarp 10 ir 20')
elif y > 10 and x >= 20:    #papildomas ifas
    print('y > 10 ir x >= 2')
else:
    print('neatitinka salygu')

y yra tarp 10 ir 20

# LYGYBES ZENKLAS

In [5]:
# = reiksmes priskirimas
# == vertes palyginimas

# if uzduotys, panasios bus ND

In [6]:
#1 
for number in range(20):
    if number % 3 == 0:
        print(number)

0
3
6
9
12
15
18

In [7]:
#2
suma = 0
for number in range(1,51):
    if (number + suma) % 2 == 0:
    suma += number
    print(suma)

IndentationError: expected an indented block (Temp/ipykernel_8500/294947518.py, line 5)

In [ ]:
# 3 uzduotis

#irasykite skaiciu
number = input('iveskite skaiciu:')
print(type(number))
number = int(number)
if (number **2) % 2 != 0:
    for num in range(1,11):
        print(num*number)
else:
    print('skaicius pakeltas kvadratu yra lyginis')

<class 'str'>
skaicius pakeltas kvadratu yra lyginis

In [13]:
#4 uzduotis

dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []
tinkamos_dienos = ['Pirmadienis', 'Treciadienis']
for diena in dienos:
    if diena in tinkamos_dienos:
        for valanda in valandos:
            kombinacijos.append((diena, valanda))
print(kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19)]

# None deklaracija

In [ ]:
#kai nera nieko deklaruoja nieko

Niekas = None
print(type(Niekas))

<class 'NoneType'>

# List comprehesnsion

In [ ]:
#numbers = list(range(21))
#for number in range(20):
    #if number % 3 == 0:
        #print(number)

0
3
6
9
12
15
18

In [ ]:
#kitoks budas, galima daug trumpiau pasirasyti
numbers = list(range(21))
dividible_by_3 = [number for number in numbers if number %3 == 0]
print(dividible_by_3)

[0, 3, 6, 9, 12, 15, 18]

# Dictionary duomenu tipas

In [ ]:
#turim raktazodi ir kiekvienas raktazodis turi kazkokia verte -skaicia, tekstas, sarasas t.t
#jie neturi sekos parametru - neturi indeksu
#patofu laikyti informacija juose, ir issitraukti
#banguoti skliautai

my_dict = {
    'name': 'Darius',
    'surname': 'Grigaliunas',
    'age': 26,
    'hobbies': ['tennis','videogames']
}

#name, surname, age, hobbies yra KEYS

In [ ]:
print(my_dict['name'])
print(my_dict['hobbies'])

#galima pakeisiti reiksme paciam dictionary
my_dict['age'] = 25
print(my_dict['age'])

Darius
['tennis', 'videogames']
25

In [ ]:
disct_1 = {
    1 : 'uno',
    2 : 'dos',
    5 : 'finco',
    0 : 'Falsee'
}

In [ ]:
print(disct_1[1])
print(disct_1[False]) # 0 yra False, bet koks skaicius True

uno
Falsee

In [ ]:
#1 uzduotis
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
#1 uzduotis
print(car['brand'])
print(len(car))
car['year'] = 2020
print(car['year'])

Ford
3
2020

In [ ]:
#2 uzduotis
car.update[{'color': 'red', 'used': True}]
print(car)

TypeError: 'builtin_function_or_method' object is not subscriptable

# SET duomenu tipas

In [ ]:
#SET duomenu tipas neturi sekos parametru []
#SET duomenys turi ivairiu manipuliaciniu funkciju, see below
#Print grazina tik unikalias reiksmes atsitiktine tvarka

In [ ]:
my_set = {1,85,3,6,6,6,6,9}
print(my_set) # tik unikalios vertes, atsitiktine tvarka
print(len(my_set)) # rodo tik unikalias vertes

my_set.add(12) #prideda reiksme
print(my_set)

my_set.remove(6) #istrinti reiksme is seto , #arba discard funkcija
print(my_set)

print(my_set)
my_set2 = {4,5,10,12}
print(my_set2)

print(my_set.difference(my_set2)) #kas nera bendro tarp setu, difference funkcija
print(my_set.intersection(my_set2)) #kas bendro
print(my_set.union(my_set2)) #apjungia unikalias reiksme

{1, 3, 85, 6, 9}
5
{1, 3, 85, 6, 9, 12}
{1, 3, 85, 9, 12}
{1, 3, 85, 9, 12}
{10, 5, 12, 4}
{1, 3, 85, 9}
{12}
{1, 3, 4, 5, 9, 10, 12, 85}

In [ ]:
#1 uzduotis
fruits = {"apple", "banana", "cherry"}
fruits.add(('nauja reiksme', 5))
print(fruits)

{'cherry', ('nauja reiksme', 5), 'apple', 'banana'}

In [ ]:
#2 uzduotis
fruits = {"apple", "banana", "cherry"}
fruits.remove ('apple')
fruits.add('watermellon')
print(fruits)

{'cherry', 'watermellon', 'banana'}

In [ ]:
#3 uzduotis